/* Style for the top navbar */
.top-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #4caf50;
    padding: 10px;
    color: white;
  }
  
  .search-container input {
    padding: 5px;
    font-size: 16px;
  }
  
  .brand-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .user-actions a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
  }
  
  .user-actions a:hover {
    text-decoration: underline;
  }
  
  /* Style for the main navbar */
  .main-navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 15px;
  }
  
  .main-navbar button {
    background-color: #4caf50;
    border: none;
    padding: 10px 20px;
    margin: 0 15px;
    color: white;
    cursor: pointer;
  }
  
  .main-navbar button:hover {
    background-color: #53c156;
  }
  
  /* Bestsellers Section */
  .bestsellers {
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-item {
    background-color: #f8f8f8;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
  }
  
  .product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-item p {
    margin-top: 10px;
    font-size: 18px;
  }
  